PUBLIC_SITE_URL=https://nextmindacademy.pl
PUBLIC_PLAUSIBLE_DOMAIN=nextmindacademy.pl
RESEND_API_KEY=
CONTACT_EMAIL_TO=kontakt@nextmindacademy.pl
NEWSLETTER_LIST_ID=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
